@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* share style start */
.dark_2 {
  color: rgb(66, 66, 66);
}

.primary_btn {
  background: rgb(255, 144, 14);
  padding: 15px 20px;
  color: white;
  font-size: 1.25rem;
  border: none;
  border-radius: 8px;
}

.disply_flex {
  display: flex;
}

/* share style end */
.header {
  background-color: rgba(255, 144, 14, 0.10);
}

.nav_bar {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.brand_logo {
  font-size: 2.8rem;
}

.nav_item {
  display: flex;
  list-style: none;
}

.nav_links {
  text-decoration: none;
  margin-left: 30px;
  font-size: 1.12rem;
}

/* banner style start */
.banner_image {
  width: 100%;
}

.header_banner {
  max-width: 1140px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.banner_section {
  margin-top: 100px;
}

.banner_content {
  margin-bottom: 50px;
}

.banner_title {
  font-size: 4rem;
  font-weight: 700;
}

.paragraph_discription {
  max-width: 860px;
  margin: 0 auto;
}

.paragraph_discription {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* banner style end */

/* banner media quiry */

@media screen and (max-width: 576px) {
  .header_banner {
    flex-direction: column;
  }
.banner_title{
  font-size: 3.25rem;
}
  .nav_item {
    flex-direction: column;
  }

  .nav_bar {
    flex-direction: column;
  }

  .paragraph_discription {
    padding: 10px;
  }
}